/* Основні стилі хедера */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333; /* Темний фон */
    border-bottom: 1px solid #444; /* Темніша границя */
    color: #fff; /* Світлий текст */
    margin-bottom: 20px;
    margin-top: -14px;
}

/* Стилі для кнопок табів */
.tabs {
    display: flex;
    align-items: center;
}

.tabButton {
    background: none;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    color: #fff; /* Світлий текст */
    margin-left: 6px;
    border-radius: 4px;
}

.tabButton:hover {
    background-color: #555; /* Темніший фон при наведенні */
}

.active {
    font-weight: bold;
    border-bottom: 2px solid #0070f3; /* Яскравий акцент */
}

.searchWrapper {
    position: relative;
    flex-grow: 1;
}

.searchInput {
    width: 50%;
    padding: 10px;
    border: 1px solid #555; /* Темніша рамка */
    border-radius: 4px;
    font-size: 16px;
    color: #fff; /* Світлий текст */
    background-color: #444; /* Темний фон */
    margin-left: 6px;
}

.dropdownMenu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #333; /* Темний фон для меню */
    border: 1px solid #444; /* Темніша границя */
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5); /* Темніша тінь */
    z-index: 1000;
}

.dropdownItem {
    padding: 10px;
    cursor: pointer;
}

.dropdownItem:hover {
    background-color: #555; /* Темніший фон при наведенні */
}

.dropdownLink {
    text-decoration: none;
    color: #fff; /* Світлий текст */
}

/* Стилі для кнопки перемикання теми */
.themeToggleButton {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    margin-left: 20px;
    color: #fff; /* Світлий текст */
}
