/* Темний фон для всіх сторінок */
body {
    background-color: rgb(0, 0, 0); /* Темний фон для всього сайту */
    color: #e0e0e0; /* Світлий текст на темному фоні */
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Стилі для контенту, щоб забезпечити відступи */
main {
    padding: 2rem;
}

/* Оновлені стилі для контейнерів, щоб враховувати темний фон */
.container {
    background-color: #1e1e1e; /* Темний фон для контенту */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7); /* Тінь для контейнерів */
}

.tab-button{
    margin-left: 20px;
}